.icon {
  display: flex;
  align-items: center;
  padding: 12px 8px 12px 12px;
}

.title {
  font-size: 14px !important;

  @media screen and (max-width: 480px) {
    display: none;
  }

  + svg {
    width: 20px;
    height: 20px;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  padding: 8px 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.email {
  max-width: 168px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.6);
}

.logout {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px 16px !important;

  + svg {
    width: 20px;
    height: 20px;
  }
}

.logoutButton {
  font-size: 13px !important;
  color: #000000de !important;
  font-weight: 500 !important;

  outline: none;
  border: none;
  background: transparent;
}
