.dashboard {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--Neutral-Neutral-100, #f5f5f5);
  min-height: calc(100vh);

  @media screen and (max-width: 720px) {
    padding: 16px;
  }
}

.title {
  color: var(--neutral-neutral-800, #424242);
  font-size: 22px !important;
  font-weight: 600 !important;
  line-height: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: #fff;
  border-radius: 8px;
}
