.notFoundImage {
  max-width: 257px !important;
  height: 171px !important;
}

.notFoundHeadText {
  color: var(--neutral-neutral-800, #424242);
  text-align: center;

  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

.notFoundBodyText {
  color: var(--neutral-neutral-800, #424242);
  text-align: center;

  font-size: 14px !important;
  line-height: 20px !important;
  max-width: 496px !important;

  @media screen and (max-width: 480px) {
    max-width: 305px !important;
    padding: 8px;
  }
}
