.appBarContainer {
  z-index: 1300;

  @media screen and (max-width: 480px) {
    z-index: 999;
  }
}

.appBar {
  background-color: #01579b !important;
  padding: 0 32px;

  @media screen and (max-width: 480px) {
    padding: 0 16px;
  }
}

.toolbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.title {
  font-size: 18px;
  flex-grow: 1;
}
