.tableContainer {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.previewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px 6px;
  // background-color: red;
}

.previewImage {
  // min-width: 168px;
  // min-height: 94px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.text {
  display: flex;
  align-items: center;
  height: 100%;

  p {
    font-size: 14px !important;
    color: #424242 !important;
    line-height: normal;
    text-wrap: wrap;
  }
}

.chip {
  font-size: 11px !important;
  color: #424242 !important;
}
